_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
__history/ITL_AI_SolveForOneExtendToManyInterrelated.html.~1~
__history/ITL_AI_SolveForOneExtendToMany.html.~1~
__history/ITL_AI_RecognizeExclusion.html.~1~
59d~ue.html
0ITL-D1.html
2337~ue.html
0ITL-D1.html
